// 此处引用cube-ui 的variable
@import '~cube-ui/src/common/stylus/variable.styl';

// 这是为方便使用 定义项目中常用颜色规范, 方便使用

$color-backgrouond = rgba(7,17,27,1)
$color-backgrouond-s = rgba(7,17,27,0.8)
$color-backgrouond-ss = rgba(7,17,27,0.5)
$color-backgrouond-sss = rgba(7,17,27,0.2)
$color-backgrouond-ssss =#f3f5f7

$color-red =rgb(240,20,20)
$color-blue =rgb(0,160,220)
$color-linght-blue =rgb(0,160,220,0.2)
$color-green =#00b43c

$color-col-line = #d9dde1
$color-row-line = rgba(7,17,27,0.1)